:root {
  --color-background: #000000;
  --color-text-normal: lightgray;
  --color-text-dark: darkgray;
  --color-border-01: darkgray;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: .4rem 0;
  gap: .7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: var(--color-background);
  color: var(--color-text-normal);
}

.container-main {
  width: 99%;
  margin: 0 auto;
}

.border-01 {
  border: 2px solid var(--color-border-01);
  border-radius: 25px;
}

header {
  flex: 0 0 16vh;
  padding: .4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.title-01, .title-02 {
  font-weight: 100;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-align: center;
}

.title-01 {
  font-size: 1rem;
}

.title-02 {
  font-size: 1.2rem;
}

main {
  flex: 0 0 50vh;
  padding: .6rem;
  box-sizing: border-box;
  font-size: 1.1rem;
}

footer {
  flex: 0 0 12vh;
  text-align: center;
  color: var(--color-text-dark);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  font-size: 1.4rem;
}

h1 {
  font-size: 1.1rem;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo-left, #text-right {
  flex: 0 0 auto;
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) {
  .container-main {
    width: 90%;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {
  .container-main {
    width: 75%;
    max-width: 1200px;
  }
}