div {
     background-color: gray;
     width: 100px;
     height: 100px;

     /* padding-top: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
     padding-left: 20px; */

     /* padding a todo
     padding: 50px; */

     /* padding arriba y abajo primero vertical segundo horizontal
     padding: 100px 200px; */


     /* padding 4 lados */
     /* padding: 100px; */

     /* border tiene tamaño, estilo,color */

     border: 2px solid black;

     /* margin: 20px; */

     /* convierte algo block a inline y mantiene las propiedades que le habíamos aplicado
     display: inline-block; */

     /* para oculaar algo, no sé para qué
     display: none; */

     /* position: absolute;
     top: 20px;
     left: 20px; */

     position: sticky;
     top: 80px;
     z-index: -1;

}