:root {
    /* Original  */
    --color-text: #274472;          /* Dark Blue */
    --color-bg: #c3e0e5;           /* Baby Blue */
    --color-header-bg: #41729f;    /* Midnight Blue */
    --color-header-text: #c3e0e5;  /* Baby Blue */
    --color-section-bg: #5885af;   /* Blue Gray */
    --color-section-text: #c3e0e5; /* Baby Blue */
    --color-footer-text: #274472;  /* Dark Blue */
}


    